@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.step-btn {
  @apply rounded-full flex items-center justify-center w-8 h-8 border border-white text-white text-sm font-semibold bg-transparent
}

.step-btn-active {
  @apply rounded-full flex items-center justify-center w-8 h-8 border border-white text-sm font-semibold text-black bg-[#BEE2FC]
}

.input-label {
  @apply text-sm font-medium text-[#0E2E60]
}

.text-input {
  @apply  px-3 py-2 border border-gray-200 rounded-lg font-medium text-[#345172] placeholder:font-normal focus:outline-[1px] focus:outline-violet-800
}

@media(max-width: 576px) {
  .main {
    background-image: url("/public/assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
